.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #444 #232b36;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: #232b36;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #232b36;
}
